@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

#navbar {
    background: #09213e;
}
#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
#navbar .logo {
    font-size: 24px;
    font-weight: 600;
}
#navbar ul {
    list-style-type: none;
}
#navbar a {
    text-decoration: none;
    pointer-events: none;
}
#navbar .work-link {
    pointer-events: auto;
}
#navbar .work-link:active {
    color: #3882f6;
    transition: color 0.2s;
}
#navbar ul {
    display: flex;
    gap: 1rem;
}
#navbar .links {
    margin-right: 1.7rem;
}

#navbar a, #hero p {
    color: #e5e7eb;
}
#navbar .logo a, #hero {
    color: #f9faf8;
}

#hero {
    background: #2b394c;
}
#hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.1;
}
#hero h1, #hero p {
    margin-bottom: .5rem;
}
#hero p {
    line-height: 1.4;
}
#hero button {
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    margin-top: .75rem;
    cursor: pointer;
}
#hero button:hover {
    opacity: 0.9;
}
#hero button:active {
    transform: scale(0.95);
}
#hero .text {
    max-width: 507px;
}
#hero img {
    width: 400px;
}

#info {
    background: #f9faf8;
}
#info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#info h2 {
    text-align: center;
}
#info .boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
#info .img-cap {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#info img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: .5rem;
}

#quote {
    background-color: #e5e7eb;
}
#quote .container {
    padding: 0 2rem;
}
#quote .bg-img {
    background-image: url(./images/lava-into-ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 80/53;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote blockquote {
    color: #f9faf8;
    font-size: 2rem;
    text-shadow: 0 0 4px black;
    margin: 0 10%;
}
#quote p {
    margin: 0 0 1rem;
}
#quote cite {
    margin-left: 1rem;
}

/* Need to re push bc only css did not up date */


@media (max-width: 965px) {
    #info .boxes {
        width: 72%;
    }
    #quote blockquote {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    body {
        -ms-overflow-style: none; /* For IE and Edge */
    }
    body::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

    #navbar .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }
    #navbar .links {
        margin: 0;
    }

    #hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #hero img {
        transform: translateX(-1rem);
    }

    #quote .container {
        padding: 0;
    }
    #quote blockquote {
        font-size: 1.25rem;
    }
}

@media (max-width: 580px) {
    #quote blockquote {
        font-size: 1rem;
    }
}